h1 {
	background-color: yellow;
	font-family: sans-serif;
	text-align: center;
	width:33%
}

h6 {
	background-color: purple;
	color: white;
	float:left;
	
}

p {
	background-color: blue;
	color: white;
	font-family: sans-serif;
	width: 50%;
	padding-left: 25%;
}